<!doctype html>
<html>
<head>
  <title>A Game We Shall Play</title>
</head>
<body>
    <p>Great, let's play a game!</p>
    <form action="/madlib">
        <div>
            <label for="name">Give me a name:</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="color">Give me a color:</label>
            <input type="text" name="color" id="color">
        </div>
        <div>        
            <label for="noun">Give me a noun:</label>
            <input type="text" name="noun" id="noun">
        </div>
        <div>
            <label for="adjective">Give me an adjective:</label>
            <input type="text" name="adjective" id="adjective">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</body>
</html>